@model IEnumerable<CrunchyGranola2.ViewModels.DateOfLastPurchaseGroup>

@{ 
    ViewBag.Title = "Customer Statistics";

}

<h2>Customer Statistics</h2>

<table class="table">
    <tr>
        <th>
            Date Of Last Purchase
        </th>
        <th>
            Customers
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfLastPurchase)
        </td>
        <td>
            @item.CustomerCount
        </td>
    </tr>

    }

</table>