@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Crunchy Granola</h1>
    <p class="lead">Welcome to the Crunchy Granola store app, for all your holistic and synergistic store needs.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What Does The App Do?</h2>
        <p>
            Really, what can't the app do?  This app provides an interface for viewing and updating information regarding the customers,
            products, employees, and departments for the Crunchy Granola store.

        </p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>How Does The App Work?</h2>
        <p>
            Powered by Crunchy Granola goodness, the app allows you to easily update information.
            Simply type in the new instances of customers, products, etc. to update the database.  
        </p>
    </div>
    <div class="col-md-4">
        <h2>Any Special Features?</h2>
        <p>
            Oh, you bet there are! You can easily search through the customers, while filtering on their last names and date of last purchase.
            A customer statistics section is also available.
        </p>
    </div>
</div>